@import "compass_twitter_bootstrap";

.board .btn.btn-large {
    min-height: 45px;
}

.board {
    margin-top: 20px;
}
.board .row-fluid {
    margin-top: 2.12%;
}

.container-tictactoe {
    width: 400px;
    margin: 0 auto;
}

